.idea

# EVENT BUS

/event-bus/.idea
/event-bus/node_modules

# POSTS

/posts/.idea
/posts/node_modules

# COMMENTS

/comments/.idea
/comments/node_modules

# CLIENT

/client/.idea
/client/node_modules
